
.header-iphone{
    overflow:hidden;
    border-bottom: 2px solid black;
}

.logo-iphone{
    margin-left: 20rem;
    margin-bottom: 2rem;
    margin-top: -3rem;
    width: 14rem;
    height: 6rem;
}