@font-face {
    font-family: Ovsyanka;
    src: url(../assets/fonts/WOFF/Ovsyanka.woff);
  }
  
  div {
    font-family: Ovsyanka;
  }


/* slider */
.carousel-container{
    height: 171px;
    margin-right: auto;
    margin-top: 2rem;
    margin-left: auto;
}

.content-slide{
    color:black;

}

.slide1content{
    height: 100%;
}
.box{
    background-color: #cfc ;
    padding: 10px ;
    border: 1px solid green ;
}
/* search bar */

button img {
    transition: transform 0.25s;
}
button:hover > img {
    transform: scale(1.2);
}
button:focus {
    outline: none;
}
input {
    font-family: 'Lexend Deca', sans-serif;
}
input::placeholder {
    font-family: 'Lexend Deca', sans-serif;
}
input:focus {
    outline: none;
}
.searchbox {
    height: 30px;
    width: 450px;
    max-width: 64%;
    background: white;
    border-radius: 54px;
    border: 1px solid grey;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 36px;
    display: flex;
}
.searchbox > .btn-menu {
    padding: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.searchbox > .search {
    border: none !important;
    width: 100%;
    margin-left: 14px;
}
.searchbox > .btn-search {
    padding: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.imgsearch{
    width: 19px;
    margin-top: -11px;
    margin-right: -4px;
}
.line{
    margin-top: 3px;
    margin-right: -5px;
}
/* promo */
.promo-container{
    background: #ececec;
    margin-top: 53px;
    height: 20rem !important;
    margin-bottom: 94rem;
}
.caption{
    font-family: Ovsyanka;
    margin-top: 2rem;    
    margin-left: 2rem;
    font-size: 14px;
}
.promo-card{
    margin-left: 2rem;
    margin-top: 1rem;
    width: 37rem;
    height: 110px;
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: -5px 5px 5px #aaaaaa
}
.promo-image{
    margin-top: 10px;
    width: 105px;
}
.promo-sale{
    font-family: Ovsyanka;
    margin-top: -8.5rem;
    font-size: 4rem;
    margin-left: 15rem;
}
.promo-name{
    font-family: Ovsyanka;
    margin-top: -1rem;
    font-size: 1.5rem;
    margin-left: 18rem;
}

.promo-strike {
    font-family: Ovsyanka;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: red;
    text-decoration: line-through;
    margin-left: 17.5rem;
}

.promo-price{
    font-family: Ovsyanka;
    margin-top: -21px;
    font-size: 1.5rem;
    margin-left: 25rem;
}
.view-all-promo{
    font-family: Ovsyanka;
    margin-top: -5px;
    text-decoration: underline;
    font-size: 1rem;
    margin-left: 31.5rem;
}
 

.cat-container{
    background: white;
    margin-top: 12px;
    height: 20rem !important;
  
}
.cat-card{
    width: 12rem !important;
    margin-left: 4.25rem;
    margin-top: 2rem;
    height: 120px;
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 5px #aaaaaa;
}
.cat-image{
    margin-top: -2px;
    width: 105px;
    margin-left: -7px;
}
.line-sep{
    border-bottom: 1px solid black;
    width: 118px;
    margin-left: -12px;
    margin-top: 8px;
}
.cat-name{
   
    font-family: Ovsyanka;
    margin-top: 15px;
    margin-bottom: -22px;
    font-size: 1.5rem;
    margin-left: 12px;
    
}

.category-header{
    margin-top: 2;
    font-family: Ovsyanka;
    margin-top: 2rem;
    margin-left: 0rem;
    font-size: 14px;
}
.view-all-cat{
        font-family: Ovsyanka;
        margin-top: -5px;
        text-decoration: underline;
        font-size: 1rem;
        margin-left: 30rem;
    
}

.aboutus{
    font-size: 13px;
    margin-right: 33rem;
}
.contactus{
    

    font-size: 13px;
    margin-right: 31.5rem;
    margin-top: 1rem;
}
.terms{
    font-size: 13px;
    margin-right: -22rem;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 66px;
    background-color: white;
    border-top: 2px solid black;
    color: white;
    text-align: center;
}