@font-face {
  font-family: Ovsyanka;
  src: url(../assets/fonts/WOFF/Ovsyanka.woff);
}

div {
  font-family: Ovsyanka;
}


  button img {
      transition: transform 0.25s;
  }
  button:hover > img {
      transform: scale(1.2);
  }
  button:focus {
      outline: none;
  }
  input {
      font-family: 'Lexend Deca', sans-serif;
  }
  input::placeholder {
      font-family: 'Lexend Deca', sans-serif;
  }
  input:focus {
      outline: none;
  }    

  
.button-signup{
    border-radius: 2rem !important;
    margin: 2rem;
    width: 11rem;
    height: 3rem;
    font-family: Ovsyanka !important;
    background-color: black !important;
    color: white !important;
}

  .ui-grid-solo>.ui-block-a {
      width: 90% !important;
      margin-left: 1.2rem;
      margin-bottom: 2rem;
      
      padding: 2rem;
      border-radius: .5rem; 
      float: none;
      
  }

  [class*=ui-block-]>button.ui-btn {
      border-radius: 2rem;
      margin: 2rem;
      width: 11rem;
      font-family: Ovsyanka !important;
      background-color: black;
      color: white;
  }

  /* .ui-input-text{
      border-color: white !important;
  } */

  .ui-input-text, .ui-input-search {
    
    border-width: 0 !important;
    
}

 /* Landscape  Iphone */

 @media only screen 
    and (device-width : 812px)
    and (device-height : 375px)
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : landscape)
    {

        .ui-grid-solo>.ui-block-a {
            margin-left: 2.5rem !important;
        }
    }
    
    /* Potrait Ipad */

    @media only screen 
    and (device-width : 768px)
    {.ui-grid-solo>.ui-block-a {

        margin-left: 2.5rem !important;
 
    }
}

    /* Landscape Ipad */
    @media only screen 
    and (device-width : 1024px)
    {.ui-grid-solo>.ui-block-a {

        margin-left: 2.5rem !important;
 
    }
}