@font-face {
    font-family: Ovsyanka;
    src: url(../assets/fonts/WOFF/Ovsyanka.woff);
  }
  
  div {
    font-family: Ovsyanka;
  }

 
  .product-body{
    padding: 0.25rem;
  }

  .promocontainer{
    background: #ececec;
    height: 153px;
    width: 100%;
    margin-top: 5rem;
  }

  .promo-image{
    margin-left: 0.5rem;
    margin-top: 11px;
    width: 30px;
}
.promo-item{
padding-bottom: 1rem;;
}
.promo-sale{
    font-family: Ovsyanka;
    margin-left: 8rem;
    margin-top: -5rem;
    font-size: 2rem;
}
.promo-name{
    font-family: Ovsyanka;
    margin-top: 0rem;
    font-size: 1rem;
    margin-left: 9rem;
}

.promo-inner{
    width: 100%;
}

.promo-card{
    width: 83%;
    margin: 1.5rem;
    border-radius: 10px;
    box-shadow: -5px 5px 15px #aaaaaa;
}

.promo-strike {
    font-family: Ovsyanka;
    margin-top: 0rem;
    font-size: 0.7rem;
    color: red;
    text-decoration: line-through;
    margin-left: 9.5rem;
}

.promo-price{
    font-family: Ovsyanka;
    margin-top: -0.9rem;
    font-size: 0.7rem;
    color: black;
    margin-left: 13rem;
}
.card-image-border{
    /* border-bottom: 1.5px solid black; */
    height: 90px;
}
.product-card{
    width: 8rem;
    height: 9.5rem;
    margin-left: 1.7rem;
    margin-right: 2.8rem !important;
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: -5px 5px 15px #aaaaaa;
}
.product-title{
    font-family: Ovsyanka;
    font-size: 1rem;
    margin-left: 0rem;
}
.favorite-icon{
    width: 20px;
    margin-left: 94px;
}  
.product-price {
    font-family: Ovsyanka;
    font-size: 0.8rem;
    color: green;
    margin-top: -7px;
}
.product-padding{
    padding-bottom: 1rem;
}

/* search bar */

input {
    font-family: 'Lexend Deca', sans-serif;
}
input::placeholder {
    font-family: 'Lexend Deca', sans-serif;
}
input:focus {
    outline: none;
}
.searchbox {
    height: 60px;
    padding-left: 56px;
    padding-right: 56px;
    width: 100%;
    background: white;
    border-radius: 10px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50px;
    display: flex;
}


.footer-padding{
    height: 7rem;
    width: 100%;
}
.padding-col{
    padding-left:3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.ui-input-text{
    border-radius: 47px !important;
}

.btn-search{
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    width: fit-content !important;
    position: absolute;
    right: 4rem;
    top: 1.9rem;
}

.ui-btn{
    margin:0 !important;
    padding: 0 !important;
    display: inline !important;
}
.search-img{
       width: 19px !important;
    margin-left: 0px;
}

/* //////////////////////////// */
.divider {
    margin-top: 1.5rem;
    width: 143px;
    margin-inline-start: -21px;
}

.favorite-icon {
    width: 20px;
    margin-top: -21px;
    margin-left: 85px;
}

.cat-image{
    width: 100px;
    height: 4rem;
}

.category-header{
    padding-left: 1rem;
    padding-top: 1rem;
}

.cat-card{
    width: 9rem;
    height: 16rem !important;
    border-radius: 10px;
    margin-right: 1rem;
    float: left;
    margin-bottom: 1rem;
    box-shadow: -6px 6px 8px -5px #b8b8b8;
}
.category-container{
    padding-left: 2rem;
    padding-top: 2rem;
    overflow-x: scroll;
}