@font-face {
    font-family: Ovsyanka;
    src: url(../assets/fonts/WOFF/Ovsyanka.woff);
  }
  
  div {
    font-family: Ovsyanka;
  }

.checkout-container{
    background-color: #ECECEC;
    width: 100%;
    height: 100vh;
}
.card-container{
    background-color: white;
    width: 100% !important;
    height: 50vh;
    margin-top: 4rem;
}
.delivery-address-container{
    background-color: white;
    width: 100% !important;
    height: 104vh;
    margin-top: 1rem;
    margin-bottom: 13rem;
}
.checkout-title{
    width: 100%;
    height: 2vh;
    font-family: Ovsyanka;
    font-size: 25px;    
    padding-left: 1rem;
    padding: 1rem;
}
.deliver-title{
    width: 100%;
    height: 2vh;
    font-family: Ovsyanka;
    font-size: 25px;    
    padding-left: 1rem;
    padding: 1rem;
}
.cart-title{
    height: 2vh;
    font-family: Ovsyanka;
    font-size: 25px;
    padding-left: 1rem;
    padding: 1rem;
    width: 86%;
}
.edit-image{
    width: 27px;
    margin-top: 1rem;
}

.cart-card{
    width: 7rem;
    height: 95px;
    margin-left: 2.7rem;
    margin-right: 2.8rem !important;
    margin-top: 2rem;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: -5px 5px 15px #aaaaaa;
}

.cards-small-container{
    width:100% !important;
}
.product-padding{
    padding-bottom: 1rem;
}
.card-image-border{
    height: 84px;
    width: 107px;
    margin-top: 3px;
    margin-left: 1px;
}

.address-input{
    margin-top: 2rem;
    width: 80%;
}