@font-face {
    font-family: Ovsyanka;
    src: url(../assets/fonts/WOFF/Ovsyanka.woff);
  }
  
  div {
    font-family: Ovsyanka;
  }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  border-top: 2px solid black;
  color: white;
  padding:0.825rem;
  text-align: center;
}

.footer-text{
  color: black;
  font-size: 0.8rem;
  padding-bottom: 7px;
}