/* .header-iphone {
    overflow: hidden;
    margin-top: -34px;
    height: 95px;
    margin-bottom: -20px;
    border-bottom: 2px solid black;
}

.logo-iphone {
    margin-left: -3rem;
    margin-bottom: 5px;
    margin-top: 40px;
    width: 100px;

}

.avatar-iphone {
    width: 24px;
    margin-left: 21rem;
    margin-top: -60px;
    margin-bottom: 0rem;
}

.cart-iphone {
    width: 24px;
    margin-left: 23.5rem;
    margin-top: -106px;
    margin-bottom: 0rem;
}

.ham-iphone {
    width: 24px;
    margin-left: 1rem;
    margin-top: 57px;
    margin-bottom: 0rem;
}
 */
.ham-iphone{
    width:24px;
}
.cart-iphone{
    width:24px;
}
.avatar-iphone{
    width:24px;
}
.logo-iphone{
    width:100px;
    margin-top: -10px;
}
.header-iphone {
    padding: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}