@font-face {
    font-family: Ovsyanka;
    src: url(../fonts/WOFF/Ovsyanka.woff);
  }
  
  div {
    font-family: Ovsyanka;
  }
.ham-iphone{
    width:24px;
}
.cart-iphone{
    width:24px;
}
.avatar-iphone{
    width:24px;
}
.logo-iphone{
    width:100px;
    margin-top: -10px;
}
.header-iphone {
    padding: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

.menu-container{
background: white;
border: 1px solid black;
position: absolute;
height: 100vh;
width:46vw;
z-index:1;
}

ul{
list-style: none;
}

.menu-item{
    border-bottom: 1px solid black;
    font-family: Ovsyanka;
    font-size:15px;
    padding: 2px;
}

.hide-menu{
    width:-50vw;
    transition: 0.3s ease;
}