.productdetail-image {
    width: 193px;
    height: 185px;
    margin-left: 84px;
    margin-top: 18px;
    margin-bottom: 28px;
}

* {
    margin: 0;
    padding: 0;
}

.rate {
    float: left;
    height: 22px;
    padding: 0 10px;
    margin-left: 26px;
    margin-top: 18px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    margin-top: -22px;
    margin-left: -6px;
    /* height: 37px; */
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

.productdetail-heart {
    margin-left: 135px;
    width: 20px;
    margin-top: 10px;
}

#productquantity {
    border: 1px solid #CCCCCC;
    border-radius: 0;
    background-color: white;
}

.productquantity {
    width: 120px;
    /* text-align: center; */
    /* display: inline; */
    margin: auto;
}

#productminus {
    width: 33px;
    margin-top: 10px;
    margin-left: 10px;
}

#productplus {
    width: 33px;
    margin-top: 10px;
    margin-left: 10px;
}

.pprice {
    color: green;
    font-family: Ovsyanka;
    margin-top: 15px;
    margin-left: 2px;
    font-size: 18px;
    text-align: center;
}

.sprice {
    color: red;
    font-family: Ovsyanka;
    margin-bottom: 15px;
    margin-left: 2px;
    font-size: 14px;
    text-align: center;
}

.quantity {
    font-family: Ovsyanka;
    margin-bottom: 15px;
    margin-left: 2px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    text-align: left;
}

.product-details {
    padding: 20px;
}

.product-details-sub {
    margin-left: 20px;
}

.product-name {
    width: 300px;
    text-align: center;
    margin: auto;
    margin-top: 25px;
}

.ui-input-text {
    border-width: 0 !important;
    border-style: none;
    margin: 0.57em 0;
}

.ui-input-text input {
    text-align: center !important;
}

#quantity {
    border: 1px solid #CCCCCC;
    border-radius: 0;
    background-color: white;
    width: 50px;
    height: 40px;
    margin-left: -13px;
    text-align: center;
}

#minus {
    width: 35px;
    margin-top: 2px;
    margin-left: 0px;
}

#plus {
    width: 35px;
    margin-top: 2px;
    margin-left: -11px;
}

.productoffer-image {
    margin-right: 40px;
    float: right;
    width: 10%;
}

.product-addtocart {
    text-align: left;
}

#product-addtocart {
    border-radius: 10px;
    background: black;
    color: white;
    border: none;
    font-weight: bold;
    text-align: center;
    margin-top: 23px;
}

.product-buynow {
    text-align: right;
}

#product-buynow {
    border-radius: 10px;
    background: black;
    color: white;
    border: none;
    font-weight: bold;
    text-align: center;
    margin-top: -23px;
}

.product-details-otherdeals {
    padding: 1px;
    margin-top: 20px;
}