@font-face {
    font-family: Ovsyanka;
    src: url(../assets/fonts/WOFF/Ovsyanka.woff);
}

.productdetail-image {
    width: 193px;
    height: 185px;
    margin-left: 66px;
    margin-top: 0px;
    margin-bottom: 22px;
}

* {
    margin: 0;
    padding: 0;
}

.rate {
    float: left;
    height: 22px;
    padding: 0 10px;
    margin-left: 26px;
    margin-top: 18px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    margin-top: -22px;
    margin-left: -6px;
    /* height: 37px; */
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.productdetail-heart {
    margin-left: 135px;
    width: 20px;
    margin-top: 10px;
}

#productquantity {
    border: 1px solid #CCCCCC;
    border-radius: 0;
    background-color: white;
}

.productquantity {
    width: 120px;
    /* text-align: center; */
    /* display: inline; */
    margin: auto;
}

#productminus {
    width: 33px;
    margin-top: 10px;
    margin-left: 10px;
}

#productplus {
    width: 33px;
    margin-top: 10px;
    margin-left: 10px;
}

.pprice {
    color: green;
    font-family: Ovsyanka;
    margin-top: 15px;
    margin-left: 2px;
    font-size: 18px;
    text-align: center;
}

.sprice {
    color: red;
    font-family: Ovsyanka;
    margin-bottom: 15px;
    margin-left: 2px;
    font-size: 14px;
    text-align: center;
}

.quantity {
    font-family: Ovsyanka;
    margin-bottom: 15px;
    margin-left: 2px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    text-align: left;
}

.product-details {
    padding: 20px;
}

.product-details-sub {
    margin-left: 20px;
}

.product-name {
    width: 300px;
    text-align: center;
    margin: auto;
    margin-top: 25px;
}

.ui-input-text {
    border-width: 0 !important;
    border-style: none;
    margin: 0.57em 0;
}

.ui-input-text input {
    text-align: center !important;
}

#quantity {
    border: 1px solid #CCCCCC;
    border-radius: 0;
    background-color: white;
    width: 50px;
    height: 40px;
    margin-left: -13px;
    text-align: center;
}

#minus {
    width: 35px;
    margin-top: 2px;
    margin-left: 0px;
}

#plus {
    width: 35px;
    margin-top: 2px;
    margin-left: -11px;
}

.productoffer-image {
    margin-right: 24px;
    float: right;
    width: 17%;
    margin-top: -37px;
}

.product-addtocart {
    text-align: left;
}

#product-addtocart {
    border-radius: 10px;
    background: black;
    color: white;
    border: none;
    font-weight: bold;
    text-align: center;
    width: 142px;
    margin-top: 29px;
}

.product-buynow {
    text-align: right;
}

#product-buynow {
    border-radius: 10px;
    background: black;
    color: white;
    border: none;
    font-weight: bold;
    text-align: center;
    margin-top: -52px;
    width: 142px;
    margin-left: 197px;
}

.product-details-otherdeals {
    padding: 1px;
    margin-top: 20px;
}

.card-body-data {
    padding: 0.25rem;
    height: 245px;
}

.dailydeals-card {
    margin-bottom: 2rem;
    margin-left: 10px;
    width: 91%;
    border-radius: 10px;
    box-shadow: -1px 1px 9px #aaaaaa;
}

.dailydeals-section {
    padding: 10px;
}

.divider {
    border-top: 2px solid grey;
    margin-top: 7px;
    margin-bottom: 7px;
}

.dailydeals-name {
    display: inline;
    font-family: Ovsyanka;
    font-size: 15px;
    text-align: centerleft;
    font-weight: bold;
    margin-top: -2px;
    margin-bottom: 13px;
}

.dailydeals-image {
    width: 145px;
    height: 113px !important;
}

.dailydeals-heading {
    font-family: Ovsyanka;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}

#favdeals2 {
    margin-left: 60px;
    width: 20px;
}

#star {
    margin-bottom: 20px !important;
    margin-left: 5px !important;
    width: 20px !important;
    margin-top: 20px !important;
}

.scrolable {
    width: 40rem;
}

.productprice {
    color: green;
    font-family: Ovsyanka;
    margin-top: -9px;
    margin-left: 5px;
    text-align: left;
    font-size: 20px;
}

.oldprice {
    color: red;
    font-family: Ovsyanka;
    font-size: 14px;
    margin-right: 21px;
    text-align: right;
    margin-top: -21px;
}

#contactustextarea {
    margin-top: -15px;
    width: 290px;
    margin-left: 9px;
}

#categories-viewbutton {
    border-radius: 21px;
    background: black;
    color: white;
    width: 162px;
    margin-left: 70px;
    border: none;
    text-align: center;
    margin-top: -1px;
    font-weight: bold;
}

.submit-mesage {
    text-align: center;
    font-size: 20px;
}

.contact-viewbutton {
    border-radius: 10px;
    background: black;
    color: white;
    border: none;
    /* font-weight: bold; */
    text-align: center;
    margin-top: 12px;
    font-weight: bold;
}

.footer-padding {
    height: 7rem;
    width: 100%;
}