@font-face {
    font-family: Ovsyanka;
    src: url(../assets/fonts/WOFF/Ovsyanka.woff);
  }
  
  div {
    font-family: Ovsyanka;
  }
.carousel-inner2{
    padding: 1rem;
    background-color: #ECECEC;
}
 
  .product-body{
    padding: 0.25rem;
  }

.card-image-border{
    border-bottom: 1.5px solid black;
    height: 90px;
}
.product-card{
    width: 8rem;
    height: 9.5rem;
    margin-left: 1.7rem;
    margin-right: 2.8rem !important;
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: -5px 5px 15px #aaaaaa;
}
.product-title{
    font-family: Ovsyanka;
    font-size: 1rem;
    margin-left: 0rem;
}
.favorite-icon{
    width: 20px;
    margin-left: 94px;
}  
.product-price{
    font-family: Ovsyanka;
    font-size: 0.8rem;
    color: green;
    margin-top: -16px;
}
.product-padding{
    padding-bottom: 1rem;
}

/* search bar */

input {
    font-family: 'Lexend Deca', sans-serif;
}
input::placeholder {
    font-family: 'Lexend Deca', sans-serif;
}
input:focus {
    outline: none;
}
.searchbox {
    height: 60px;
    padding-left: 56px;
    padding-right: 56px;
    width: 100%;
    background: white;
    border-radius: 10px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50px;
    display: flex;
}
.searchbox > .btn-menu {
    padding: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.searchbox > .search {
    border: none;
    width: 100%;
}


.promo-card-container{
    background-color: #ECECEC;
    padding: 1.5rem;
    padding-bottom: 0;
}

.promo-card{
    border-radius: 10px;
    box-shadow: -5px 5px 15px #aaaaaa;
}

.promo-slider-image{
    width: 100%;
}

.promo-item{
    padding-bottom: 1rem;;
}
    
.promo-sale{
    font-family: Ovsyanka;
    font-size: 1.5rem;
}

.promo-sale-land{
    font-family: Ovsyanka;
    font-size: 3.5rem;
}
    
.promo-name{
    font-family: Ovsyanka;
    font-size: 1rem;
}    

.promo-name-land{
    font-family: Ovsyanka;
    font-size: 2.5rem;
}   
    
.promo-inner{
    width: 100%;
}
    
.promo-strike {
    font-family: Ovsyanka;
    color: red;
    text-decoration: line-through;
}
    
.promo-price{
    font-family: Ovsyanka;
    font-size: 0.7rem;
    color: black;
}

.promo-strike-land {
    font-family: Ovsyanka;
    color: red;
    font-size: 2rem;
    text-decoration: line-through;
}
    
.promo-price-land{
    font-family: Ovsyanka;
    font-size: 1.5rem;
    color: black;
}

.no-padding-right{
    padding-right: 0;
}

.no-padding-all{
    padding: 0;
}

.ui-input-text{
    border-radius: 47px !important;
}

.btn-search{
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    width: fit-content !important;
    position: absolute;
    right: 4rem;
    top: 1.9rem;
}

.ui-btn{
    margin:0 !important;
    padding: 0 !important;
    display: inline !important;
}
.search-img{
       width: 19px !important;
    margin-left: 0px;
}

.carousel-control-next-icon{
    background-image: url("../assets/images/slider-arrows.png") !important;
    transform: rotate(-90deg) !important;
}

.carousel-control-prev-icon{
    background-image: url("../assets/images/slider-arrows.png") !important;
    transform: rotate(90deg) !important;
}


.footer-padding{
    height: 7rem;
    width: 100%;
}
.padding-col{
    padding-left:3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    /* padding-bottom: 1rem; */
}
.view-all{
    text-decoration: underline;
    padding: 0.5rem;
    font-size: 12px;
    z-index: 2;
}
.carousel-slide{
    background-color: #ECECEC;
}

.cat-image{
    width: 100px;
    height: 4rem;
}

.category-header{
    padding-left: 1rem;
    padding-top: 1rem;
}

.cat-card{
    width: 9rem;
    height: 16rem !important;
    border-radius: 10px;
    margin-right: 1rem;
    float: left;
    margin-bottom: 1rem;
    box-shadow: -6px 6px 8px -5px #b8b8b8;
}
.category-container{
    padding-left: 2rem;
    padding-top: 2rem;
    overflow-x: scroll;
}

.scrolable{
    width: 40rem;
}

#moins{
    height: 25 !important;
}

#plus{
    height: 25 !important;
}

#count{
    width: 40px !important;
    height: 25px;
    border-radius: 5px !important;
    border-width: 1.5px;
    border-color: black;
    vertical-align: top;
    text-align: center;
}

#input_count {
   
    margin-top: 10px;
    margin-bottom: 10px;
}

/* .ui-input-text {
    border-radius: 0px !important;
    height: 30px;
    width: 30px !important;
    text-align: center !important;
} */

.button-login{
    margin-top: 5px !important;
    margin:2rem !important;
    padding: 3 !important;
    /* display: inline !important; */
    border-radius: 2rem !important;
    /* margin: 2rem; */
    /* width: 11rem; */
    font-family: Ovsyanka !important;
    background-color: black !important;
    color: white !important;
}

.divider {
    margin-top: 1.5rem;
    width: 143px;
    margin-inline-start: -21px;
}

.favorite-icon {
    width: 20px;
    margin-top: -21px;
    margin-left: 85px;
}

select{
    width: 70px;
    font-family: Ovsyanka !important;
    background-color: white !important;
    color: black !important;
    border: 0px; 
}

