.cart-title{
    font-family: Ovsyanka;
    margin-top: 15px;
    margin-left: 2px;
    font-size: 20px;
    text-align: left;
}

.item-title{
    font-family: Ovsyanka;
    margin-top: 15px;
    margin-right: 10px;
    font-size: 20px;
    text-align: right;
}

.cart-empty-text{
    font-size: 15px;
    text-align: center;
    margin-top: 80px;
}

#sad-cart-image{
    width:40%;
    margin-left:30%;
    margin-top:5%;
   
}

.shop-now-button{
        border-radius: 35px !important;
        font-family: Ovsyanka;
        width: 63% !important;
        margin-left:20%;
        margin-top:10%;
        background:red !important;
        display: inline !important;
        color: white !important;
}

.footer {
    margin-top: 15rem;
}

/* Landscape  Iphone */

@media only screen 
and (device-width : 812px)
and (device-height : 375px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape)
{
    .footer {
        margin-top: 5rem;
    }
}

/* Landscape Ipad */
@media only screen 
and (device-width : 1024px)
{
    .footer {
        margin-top: 6rem;
    }    

}

/* Potrait Ipad */
  
@media only screen 
and (device-width : 768px)
{
    .footer {
        margin-top: 15rem;
    } 
}