

.ui-input-text{
    border-width: 0 !important; 
    border-style: none;
    margin: 0.57em 0;
}

.ui-input-text input{
    text-align: center !important;
}
.cart-title{
    font-family: Ovsyanka;
    margin-top: 15px;
    margin-left: 24px;
    font-size: 20px;
    text-align: left;
}
#email-text-area{
    height: 38px;
    width: 230px;
    margin-left: 145px;
}


.item-title{
    font-family: Ovsyanka;
    margin-top: 15px;
    margin-left:112px;
    margin-right: 10px;
    font-size: 20px;
    text-align: right;
}

.product-name{
    font-family: Ovsyanka;
    margin-top: 15px;
    margin-left: 2px;
    font-size: 18px;
    text-align: left;
}

.dprice{
    color:green;
    font-family: Ovsyanka;
    margin-top: 15px;
    margin-left: 2px;
    font-size: 18px;
    text-align: left;
}
.price{
    color: red;
    font-family: Ovsyanka;
    margin-top: 15px;
    margin-left: 2px;
    font-size: 16px;
    text-align: left;
    text-decoration: line-through;
}


#product-image{
    border: 1px solid #000000;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 40px;
    height: 125.7px;
    width:  125.7px;
}
#product-image{
    border: 1px solid #000000;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 40px;
    width: 75%;
}


.submit-button {
    border-radius: 35px !important;
    margin-left:20% !important;
    font-family: Ovsyanka;
    width: 60% !important;
    background: white !important;
    display: inline !important;
    color: black !important;
    padding-right: 20px;
    border-color:black;
    border: 2px solid black;
  }
  



.add-button {
    border-radius: 35px !important;
    font-family: Ovsyanka;
    margin-left: 20%;
    margin-top: 20px;
    width: 60% !important;
    background:black !important;
    display: inline !important;
    color: white !important;

}

.share-button{
    font-family: Ovsyanka;
    margin-left: 150px;
    width: 60% !important;
    background:white !important;
    display: inline !important;
    color:black !important;
}

#favourites-page{
    /* background-color:white; */
    padding-top: 2rem;
    padding-bottom: 8rem;
}






@media only screen 
    and (device-width : 812px)
    and (device-height : 375px)
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : landscape)
    {
        

        .item-title{
            font-family: Ovsyanka;
            margin-top: 5px;
            margin-right: 35px;
            margin-left:314px;
            font-size: 30px;
            text-align: right;
        }

        
        .cart-title{
            font-family: Ovsyanka;
            margin-left: 111px;
            text-align: left;
            font-size: 30px;
            margin-top: 5px;
        }
        .product-name{
            font-family: Ovsyanka;
            margin-top: 20px;
            margin-left: 120px;
            font-size: 28px;
            text-align: left;
        }
        
        .dprice{
            color:green;
            font-family: Ovsyanka;
            margin-top: 25px;
            margin-left: 120px;
            font-size: 28px;
            text-align: left;
        }
        #email-text-area{
            width: 291px;
            margin-left: 519px;

        }
        .price{
            color: red;
            font-family: Ovsyanka;
            margin-top: 25px;
            margin-left: 20px;
            font-size: 24px;
            text-align: left;
        }
        
            .share-button{
                margin-left:570px;
                width: 30% !important;
            }

            .add-button{
                width : 35% !important;
                margin-left:250px !important;
            }

            .submit-button{
                width: 35% !important;
                margin-left: 250px !important;
            }
            #product-image{
                border: 1px solid #000000;
                border-radius: 10px;
                margin-top: 15px;
                margin-left: 164px;
                height: 173.7px;
                width:  173.7px;
            }
    }

    @media only screen 
    and (device-width : 768px)
    {
        #product-image{
            border: 1px solid #000000;
            border-radius: 10px;
            margin-top: 15px;
            margin-left: 134px;
            height: 200px;
            width:  200px;
        }
        
        .cart-title{
            font-family: Ovsyanka;
            margin-left: 127px;
            text-align: left;
            font-size: 32px;
            margin-top: 5px;
        }

        #email-text-area{
            width: 292px;
            margin-left: 464px;
        }

            .item-title{
                font-family: Ovsyanka;
                margin-top: 5px;
                margin-right: 35px;
                margin-left:265px;
                font-size: 30px;
                text-align: right;
            }
            .cart-title{
                font-family: Ovsyanka;
                margin-left: 111px;
                text-align: left;
                font-size: 30px;
                margin-top: 5px;
            }
            .product-name{
                font-family: Ovsyanka;
                margin-top: 20px;
                margin-left: 120px;
                font-size: 28px;
                text-align: left;
            }
            
            .dprice{
                color:green;
                font-family: Ovsyanka;
                margin-top: 25px;
                margin-left: 120px;
                font-size: 28px;
                text-align: left;
            }
            .price{
                color: red;
                font-family: Ovsyanka;
                margin-top: 25px;
                margin-left: 20px;
                font-size: 24px;
                text-align: left;
            }
            
                .share-button{
                    margin-left:515px;
                    width: 30% !important;
                    
                }
    
                .add-button{
                    width : 35% !important;
                    margin-left:250px !important;
                }
    
                .submit-button{
                    width: 35% !important;
                    margin-left: 250px !important;
                }
                #favourites-page{
                    /* background-color:white; */
                    /* padding-top: 2rem; */
                    padding-bottom: 15rem;
                }
    
            }
    @media only screen 
        and (device-width : 1024px){
            #product-image{
                border: 1px solid #000000;
                border-radius: 10px;
                margin-top: 15px;
                margin-left: 250px;
                height: 210px;
                width:  210px;
            }
            
            .cart-title{
                font-family: Ovsyanka;
                margin-left: 129px;
                text-align: left;
                font-size: 36px;
                margin-top: 20px;
            }
            #email-text-area{
            width: 324px;
            margin-left: 684px;
}
    
                .item-title{
                    font-family: Ovsyanka;
                    margin-top: 20px;
                    margin-right: 35px;
                    margin-left:451px;
                    font-size: 36px;
                    text-align: right;
                }
                
                
                .product-name{
                    font-family: Ovsyanka;
                    margin-top: 20px;
                    margin-left: 120px;
                    font-size: 30px;
                    text-align: left;
                }
                
                .dprice{
                    color:green;
                    font-family: Ovsyanka;
                    margin-top: 25px;
                    margin-left: 120px;
                    font-size: 30px;
                    text-align: left;
                }
                .price{
                    color: red;
                    font-family: Ovsyanka;
                    margin-top: 25px;
                    margin-left: 20px;
                    font-size: 26px;
                    text-align: left;
                }
                
                    .share-button{
                        margin-left:689px;
                        width: 30% !important;
                        
                    }
        
                    .add-button{
                        width : 35% !important;
                        margin-left:250px !important;
                    }
        
                    .submit-button{
                        width: 35% !important;
                        margin-left: 250px !important;
                    }

                    #favourites-page{
                        /* background-color:white; */
                        /* padding-top: 2rem; */
                        padding-bottom: unset;
                    }
                    
        }

            
        
    