

.ui-input-text{
    border-width: 0 !important; 
    border-style: none;
    margin: 0.57em 0;
}

.ui-input-text input{
    text-align: center !important;
}

#quantity{
    border: 1px solid #CCCCCC;
    border-radius: 0;
    background-color: white;
}

.quantity{
    width: 120px;
    /* text-align: center; */
    /* display: inline; */
    margin: auto;
}

#minus{
    width: 33px;
    margin-top: 10px;
    margin-left: 10px;
}

#plus{
    width: 33px;
    margin-top: 10px;
    margin-left: 10px;
}

.cart-title{
    font-family: Ovsyanka;
    margin-top: 15px;
    margin-left: 2px;
    font-size: 20px;
    text-align: left;
}

.item-title{
    font-family: Ovsyanka;
    margin-top: 15px;
    margin-right: 10px;
    font-size: 20px;
    text-align: right;
}
.favourites-bin{
    width: 18% !important;
    margin-left: 130px !important;
    margin-top: 10px !important;
}

.product-name{
    font-family: Ovsyanka;
    margin-top: 15px;
    margin-left: 2px;
    font-size: 18px;
    text-align: left;
}

.dprice{
    color:green;
    font-family: Ovsyanka;
    margin-top: 15px;
    margin-left: 2px;
    font-size: 18px;
    text-align: left;
}
.nprice{
    color: red;
    font-family: Ovsyanka;
    margin-top: 15px;
    margin-left: 2px;
    font-size: 14px;
    text-align: left;
}

.quantity{
    font-family: Ovsyanka;
    margin-top: 15px;
    margin-left: 2px;
    font-size: 16px;
    text-align: left;
}

#product-image{
    border: 1px solid #000000;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 40px;
    width: 75%;
}


.submit-button {
    border-radius: 35px !important;
    margin-left:20% !important;
    font-family: Ovsyanka;
    width: 60% !important;
    background: white !important;
    display: inline !important;
    color: black !important;
    padding-right: 20px;
    border-color:black;
    border: 2px solid black;
  }
  



.add-button {
    border-radius: 35px !important;
    font-family: Ovsyanka;
    margin-left: 20%;
    margin-top: 20px;
    width: 60% !important;
    background:black !important;
    display: inline !important;
    color: white !important;

}

.share-button{
    font-family: Ovsyanka;
    margin-left: 150px;
    width: 60% !important;
    background:white !important;
    display: inline !important;
    color:black !important;
}

#favourites-page{
    background-color:white;
}




@media only screen 
    and (device-width : 812px)
    and (device-height : 375px)
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : landscape)
    {
        #product-image{
            border: 1px solid #000000;
            border-radius: 10px;
            margin-top: 20px;
            margin-left: 180px;
            width: 45%;
        }

        .item-title{
            font-family: Ovsyanka;
            margin-top: 5px;
            margin-right: 35px;
            font-size: 25px;
            text-align: right;
        }

        .favourites-bin{
            width: 8% !important;
            margin-left: 320px !important;
            margin-top: 10px !important;
        }
        .cart-title{
            font-family: Ovsyanka;
            margin-left: 2px;
            text-align: left;
            font-size: 25px;
            margin-top: 5px;
        }
        .product-name{
            font-family: Ovsyanka;
            margin-top: 20px;
            margin-left: 120px;
            font-size: 20px;
            text-align: left;
        }
        
        .dprice{
            color:green;
            font-family: Ovsyanka;
            margin-top: 25px;
            margin-left: 120px;
            font-size: 20px;
            text-align: left;
        }
        .nprice{
            color: red;
            font-family: Ovsyanka;
            margin-top: 25px;
            margin-left: 20px;
            font-size: 18px;
            text-align: left;
        }
        
        .quantity{
            font-family: Ovsyanka;
            margin-top: 15px;
            margin-left: 120px;
            font-size: 20px;
            text-align: left;
        }

        
            #minus{
                width: 33px;
                margin-top: 10px;
                margin-left: 85px;
            }

            .share-button{
                margin-left:570px;
                width: 30% !important;
            }

            .add-button{
                width : 35% !important;
                margin-left:250px !important;
            }

            .submit-button{
                width: 35% !important;
                margin-left: 250px !important;
            }
    }

    @media only screen 
    and (device-width : 768px)
    {
        
    }