.promo-card {
    margin-left: 2rem;
    margin-top: 1rem;
    width: 17rem;
    height: 210px;
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: -5px 5px 5px #aaaaaa
}

.promo-sale {
    font-family: Ovsyanka;
    margin-top: -8.5rem;
    font-size: 4rem;
    margin-left: 15rem;
}

.promo-name {
    font-family: Ovsyanka;
    margin-top: -1rem;
    font-size: 1.5rem;
    margin-left: 18rem;
}

.promo-strike {
    font-family: Ovsyanka;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: red;
    text-decoration: line-through;
    margin-left: 17.5rem;
}

.promo-price {
    font-family: Ovsyanka;
    margin-top: -21px;
    font-size: 1.5rem;
    margin-left: 25rem;
}

.category-card {
    margin-bottom: 2rem;
    width: 91%;
}

.category-section {
    padding: 10px;
}

.divider {
    border-top: 2px solid grey;
    margin-top: 7px;
    margin-bottom: 7px;
}

.categories-name {
    font-family: Ovsyanka;
    font-size: 12px;
    text-align: center;
}

.category-image {
    margin-top: 15px;
    width: 75px;
}

.categories-heading {
    font-family: Ovsyanka;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 12px;
    text-align: left;
}